################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoesShop/.vs/ShoesShop/v15/Server/sqlite3
/ShoesShop/ShoesShop.BLL
/ShoesShop/.vs
/ShoesShop/ShoesShop.Repository/bin/Debug
/ShoesShop/ShoesShop.Model/bin/Debug
/ShoesShop/ShoesShop.Mvc/obj/Debug
/shoesShop/ShoesShop.Model/obj
/ShoesShop/node_modules/sweetalert2
/ShoesShop/ShoesShop.Model/obj/Debug
/ShoesShop/ShoesShop.Mvc/bin
