################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoesShop/.vs/ShoesShop/v15/Server/sqlite3
