################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoesShop/.vs/ShoesShop/v15/Server/sqlite3
/ShoesShop/ShoesShop.Mvc/obj/
/ShoesShop/ShoesShop.Mvc/bin
/ShoesShop/ShoesShop.BLL/bin
/ShoesShop/ShoesShop.BLL/obj
/ShoesShop/.vs
/ShoesShop/ShoesShop.Repository/bin/
/ShoesShop/ShoesShop.Repository/obj
/ShoesShop/ShoesShop.Model/
/shoesShop/ShoesShop.Model/obj
/shoesShop/ShoesShop.Model/bin
/ShoesShop/ShoesShop.Core/bin
/ShoesShop/ShoesShop.Core/obj
