<div class="modal fade" id="supplierModal" data-bind="with: currentViewModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-10">
                    <h3 class="modal-title">Supplier "<span data-bind="text : Name"></span>"</h3>
                </div>
                <div class="col-lg-2">
                    <button data-bind="attr: { disabled : Products().length >0,'title': 'this Supplier is being used'  } ,click: DeleteSupplier.bind($data,Id)" type="button" class="btn btn-custon-rounded-three btn-danger pull-left"><span class="fa fa-times"></span> Delete</button>
                </div>
            </div>

            <div class="modal-body" id="supplierModalBody">
                <div class="">
                    <div class="input-knob-dial-wrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-3">
                                    <div class="input-mask-title">
                                        <label>Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="input-mark-inner mg-b-22">
                                        <input-component params='name: Name'></input-component>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-3">
                                    <div class="input-mask-title">
                                        <label>Status</label>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <switch-component params='IsActive:IsActive'></switch-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-3">
                                    <div class="input-mask-title">
                                        <label>Description</label>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="input-mark-inner mg-b-22">

                                        <input-component params='name: Description,placeholder: "Description"'></input-component>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-3">
                                    <div class="input-mask-title">
                                        <label>Address</label>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="input-mark-inner mg-b-22">

                                        <input-component params='name: Address,placeholder: "Address"'></input-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-3">
                                    <div class="input-mask-title">
                                        <label>Phone</label>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="input-mark-inner mg-b-22">

                                        <input-component params='name: Phone,placeholder: "Phone"'></input-component>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-3">
                                    <div class="input-mask-title">
                                        <label>Country</label>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="input-mark-inner mg-b-22">
                                        <input-component params='name: Country,placeholder: "Country"'></input-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                            </div>
                            <div class="col-lg-4 txt-align-r">
                                <button class="btn btn-success mg-r-7" data-bind="click: UpdateSupplier"><span class="fa fa-save"></span>&nbsp;Save Changes</button>
                                <button class="btn btn-default" href="#" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>


